body {
  background-color: #061a0e;
  color: #fff;
  text-align: center;
}

h1 {
  color: #7bbe0d;
  font-family: "Gotham Black";
  font-size: 4rem;
  margin: 50px auto 50px;
  text-shadow: 3px 0 #954c31;
}

footer {
  margin-top: 150px;
}

.drum {
  background-color: #fff;
  border: solid .35rem;
  border-color: #37600e;
  border-radius: 1.5rem;
  display: inline-block;
  height: 125px;
  margin: 10px;
  width: 125px;
  text-align: center;
  text-shadow: 3px 0 #954c31;
  line-height: 2;
  font-size: 900;
  color: #7bbe0d;
  display: inline-block;
  font-family: "Aller";
  font-size: 2.5rem;
  font-weight: bolder;
}

.w {
  background-image: url("assets/images/tom1.png");
}

.a {
  background-image: url("assets/images/tom2.png");
}

.s {
  background-image: url("assets/images/tom3.png");
}

.d {
  background-image: url("assets/images/tom4.png");
}

.j {
  background-image: url("assets/images/snare.png");
}

.k {
  background-image: url("assets/images/crash.png");
}

.l {
  background-image: url("assets/images/kick.png");
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 2px -2px 4px 0 #954c31;
  opacity: 0.5;
}

.red {
  color: red;
}
